<ion-view view-title="Etudes & Expériences" align-title="center">
  <ion-content>
    <div class="list">

        <div class="item item-divider">
          Expériences Professionnels
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Family Of Gaming</h3>
              <p class ="item-text-wrap">La Familly Of Gaming ou FOG est une communauté francophone multigaming créée en Juillet 2015 visant des joueurs fun ou e-Sport. Elle fut créée par Fristing (Quentin), Everlast et Jejefutur. Depuis elle ne cesse d'évoluer pour donner plus à ses membres et pour garder ses valeurs. La Familly Of Gaming ou FOG signifie que la communauté est principalement une famille. C'est à dire que tous le monde se connaît et joue ensemble. Cette qualité est une de nos forces et un des atouts majeurs comparés aux autres multigaming.

              Lien : http://familyofgaming.fr
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Family Of Gaming</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Juillet 2015</p>
            </div>
          </div>
        </div>


        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>MobyTick</h3>
              <p class ="item-text-wrap">MobyTick vous permet de recevoir vos tickets de caisse à un même endroit! Il vous suffit pour cela de vous identifier au moment de votre passage en caisse en présentant votre smartphone ou votre badge. Vous aurez ainsi toutes vos dépenses réelles stockées et enregistrées sur votre compte. Servez-vous en comme facture ou pour faire vos comptes. Pour vous changer encore plus la vie, un logiciel comptable intégré vous permettra de visualiser facilement vos dépenses.
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;MobyTick</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Juin-Juillet 2015</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Recherche-Codeurs.com</h3>
              <p class ="item-text-wrap">Recherche-Codeurs est le site qui permet de simplifier la liaison entre les clients et les développeurs.<br/>
              Vous avez un projet informatique mais il vous manque une personne pour le réaliser ? Proposez votre projet et trouvez le développeur qui le réalisera au meilleur coût et au plus vite, telle est la devise de Recherche-codeurs.
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Recherche-Codeurs</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Avril - Mai 2015</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Stage Informatique</h3>
              <p class ="item-text-wrap">Developpement d'un CRM Modulable / Application Cordova
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;I-Soluce</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Janvier- Février 2015</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>MobyTick</h3>
              <p class ="item-text-wrap">MobyTick vous permet de recevoir vos tickets de caisse à un même endroit! Il vous suffit pour cela de vous identifier au moment de votre passage en caisse en présentant votre smartphone ou votre badge. Vous aurez ainsi toutes vos dépenses réelles stockées et enregistrées sur votre compte. Servez-vous en comme facture ou pour faire vos comptes. Pour vous changer encore plus la vie, un logiciel comptable intégré vous permettra de visualiser facilement vos dépenses.
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;MobyTick</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Juin-Juillet 2015</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Association</h3>
              <p class ="item-text-wrap">Association proposant des services informatiques divers (Formation, Site Web, Montage PC, Maintenance). Fondateur/Président, Service Client, Programmeur Web, Technicien Informatique, Formateur.
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Solinfi</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Septembre 2014 - Decembre 2014</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Stage Informatique</h3>
              <p class ="item-text-wrap">Chef de Projet et Développeur de projet interne en PHP (MVC/CakePHP) pour pouvoir gérer des serveurs d’emailing et gérer des serveurs avec des tâches planifiées (Cron) sur un serveur CentOS(Linux).
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;ACCRO-WEB</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Juin 2014</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Formation Bureautique et Internet(4H)</h3>
              <p class ="item-text-wrap">Organisation et Animation d’une formation du personnel du lycée Sévigné à l’utilisation d’Office 2007 (Word / Excel / PowerPoint) et initiation aux fonctionnalités des navigateurs internet (Chrome, Internet Explorer).
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Lycée Sévigné Marseille</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Octobre 2012</p>
            </div>
          </div>
        </div>

        <div class="item item-divider">
          Etudes
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Ingénieur SI</h3>
              <p class ="item-text-wrap">Ingénieur Système d'Information
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Exia Aix-En-Provence</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;2015 - 2018</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>BTS SIO Option SLAM</h3>
              <p class ="item-text-wrap">BTS SIO (Services Informatiques aux Organisations) Option Solutions Logicielles et Applications Métiers (Développeur).
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Lycée Charles Peguy</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;Septembre 2013 - Juillet 2015</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div class="col-80">
              <h3>Bac S Spé Math</h3>
              <p class ="item-text-wrap">
              </p>
            </div>
            <div class="col">
              <p><span class="icon ion-briefcase"></span> <b>&nbsp;Lycée Sévigné Marseille</b></p>
              <p><span class="icon ion-android-calendar"></span> &nbsp;2012 - 2013</p>
            </div>
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>
